<ion-header (click)="closeEverything()">
  <ion-toolbar color="primary" text-center>
    <ion-title>
      Rechercher un itinéraire
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content (click)="closeEverything()">
  <form (ngSubmit)="chercheDepart()" >
    <ion-item-group margin>
      <ion-item>
        <ion-label position="floating">De :</ion-label>
        <ion-input [(ngModel)] = "arretDepart" type="text" name="depart" (ngModelChange)="listeRechercheDepart(arretDepart)"></ion-input>  
      </ion-item>
      <ion-list id="rechercheDepart" style="z-index: 1000; display: none; position: absolute;">
        <ion-item *ngFor="let lieu of recherche" (click)="setRechercheDepart(lieu.properties.LIBELLE)">
          <ion-label>{{lieu.properties.COMMUNE}} - {{lieu.properties.LIBELLE}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="floating">A :</ion-label>
        <ion-input [(ngModel)] = "arretArriver" type="text" name="Arriver" (ngModelChange)="listeRechercheArrivee(arretArriver)"></ion-input>
      </ion-item>
      <ion-list id="rechercheArrivee" style="z-index: 1000; display: none; position: absolute;">
        <ion-item *ngFor="let lieu of recherche" (click)="setRechercheArrivee(lieu.properties.LIBELLE)">
          <ion-label>{{lieu.properties.COMMUNE}} - {{lieu.properties.LIBELLE}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="floating">Time :</ion-label>
        <ion-input [(ngModel)] = "time" type="time" name="Time"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date :</ion-label>
        <ion-input [(ngModel)] = "date" type="date" name="Date"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-button expand="block" type="submit">Rechercher</ion-button>
  </form>
  
  <ion-card *ngFor="let item of resultat">
    <ion-card-header style="padding: 10px;" color="primary">
      <ion-card-subtitle style="font-weight: bold; text-align: center; color: #fff">Resultas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style="font-weight: bold; background-color: #e0e0d1; color: #000; margin: 0; padding: 0; margin-bottom: 0;">
      départ: {{convertTimeStamp(item.startTime)}} arriver: {{convertTimeStamp(item.endTime)}} durée: {{convertToMinutes(item.duration)}}min
    </ion-card-content>
          <ion-grid>
              <ion-row>
                
                    <div *ngFor="let leg of item.legs">
                        <ion-col *ngIf="modeWalk(leg.mode)">
                          <ion-icon name="walk" style="color: #000; font-weight: bold"></ion-icon>
                          <p>{{convertToMinutes(leg.duration)}}min</p>
                        </ion-col>
                        <ion-col *ngIf="modeBus(leg.mode)">
                          <div class="rond" [ngStyle]="{'background-color': '#'+leg.routeColor,'color':'#'+leg.routeTextColor}">
                            <ion-avatar mode="ios" style="text-align:center; margin-left: auto; margin-right: auto; padding-top: 10px; font-weight: bold">
                                <ion-label>{{leg.routeShortName}}</ion-label>
                            </ion-avatar>
                          </div>
                          <p>{{convertToMinutes(leg.duration)}}min</p>
                        </ion-col>
                        <ion-col *ngIf="modeTram(leg.mode)">
                          <div class="rond" [ngStyle]="{'background-color': '#'+leg.routeColor,'color':'#'+leg.routeTextColor}">
                            <ion-avatar mode="ios" style="text-align:center; margin-left: auto; margin-right: auto; padding-top: 10px; font-weight: bold">
                                <ion-label>{{leg.routeShortName}}</ion-label>
                            </ion-avatar>
                          </div>
                          <p>{{convertToMinutes(leg.duration)}}min</p>
                        </ion-col>
                    </div>
              </ion-row>
            </ion-grid>
     </ion-card>
</ion-content>
