<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="itineraire">
      <ion-icon name="compass"></ion-icon>
      <ion-label>itinéraire
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ios-clock"></ion-icon>
      <ion-label>Horaire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="bus"></ion-icon>
      <ion-label>Lignes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="around-me">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Autour de moi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
