<ion-header>
  <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)">
          <ion-segment-button value="Tag">
            <ion-label>Réseau TAG</ion-label>
          </ion-segment-button>
          <ion-segment-button value="trans">
            <ion-label>Réseau Transisère</ion-label>
          </ion-segment-button>
        </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row [ngStyle]="{'display': disp}">
            <ion-col *ngFor="let item of trams" style="display: inline" size="2" size-sm>
      <ion-card (click)="TakeHours(item.id)"[ngStyle]="{'background-color': '#'+item.color,color:'black'}">
      {{item.shortName}}
    </ion-card>
            </ion-col>
  <div style="display: block; padding-top: 10px">
  <div *ngFor="let item of CHRONO" style="display: inline">
      <ion-button (click)="TakeHours(item.id)"[ngStyle]="{'background-color': '#'+item.color,color:'black'}">
      {{item.shortName}}
    </ion-button>
  </div>
</div>
<div style="display: block; padding-top: 10px">
    <div *ngFor="let item of PROXIMO" style="display: inline">
        <ion-button (click)="TakeHours(item.id)"[ngStyle]="{'background-color': '#'+item.color,color:'black'}">
        {{item.shortName}}
      </ion-button>
    </div>
  </div>
  <div style="display: block; padding-top: 10px">
      <div *ngFor="let item of FLEXO" style="display: inline">
          <ion-button (click)="TakeHours(item.id)"[ngStyle]="{'background-color': '#'+item.color,color:'black'}">
          {{item.shortName}}
        </ion-button>
      </div>
    </div>
  </ion-row>
  <ion-row>
  <ion-list [ngStyle]="{'display': dispTrans}">
    <div style="display: block; padding-top: 10px">
        <div *ngFor="let item of C38" style="display: inline">
            <ion-button (click)="TakeHours(item.id)"[ngStyle]="{'background-color': '#'+item.color,color:'black'}">
            {{item.shortName}}
          </ion-button>
        </div>
      </div>
  </ion-list>
</ion-row>
  </ion-grid>
</ion-content>
