.img{
    width: 30px;
    border-radius:50%;
    display: inline;
    padding: 15px;
    margin-top: 25px
}

.list{
    margin-top: 25px
}

ion-content {
    text-align: center
}

.rond {

    border-radius: 50%; 
    height: 3rem; 
    width: 3rem;
    left: 50%
}
.md {

    text-align: center
}
