<ion-header>
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="horaires" style="display: block">
        <ion-list>
            <ion-item *ngFor="let item of favorites" color="light">
                <ion-label>
                  <h3>{{item.NameArret}}</h3>
                  <h3>{{item.nameLine}}</h3>
            <ion-list-header>
                <ion-label><strong>{{affichageAller}}</strong></ion-label>
              </ion-list-header>
            <ion-item *ngFor="let item of horaireAller; let i" color="light">
                <ion-label>
                  <h3>{{item.stopName}}</h3>
                  <p>{{lectureHoraire(item.scheduledArrival,item.serviceDay)}}</p>
                </ion-label>
              </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header>
              <ion-label><strong>{{affichageRetour}}</strong></ion-label>
            </ion-list-header>
            <ion-item *ngFor="let item of horaireRetour" color="light">
                <ion-label>
                  <h3>{{item.stopName}}</h3>
                  <p>{{lectureHoraire(item.scheduledArrival,item.serviceDay)}}</p>
                </ion-label>
              </ion-item>
        </ion-list>
      </div>

</ion-content>
