<ion-header>
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
        <ion-list>
            <ion-item *ngFor="let item of favori" color="light">
                <div (click)="takeHoraires(item.idLine,item.idArret,item.nameLine,item.color)"[ngStyle]="{'background-color': '#'+item.color,color:'black'}" style="height: 3rem; width: 3rem">
                    <ion-avatar mode="ios" style="text-align:center; margin: 0 auto; padding-top: 10px; font-weight: bold">
                      {{item.nameLine}}
                    </ion-avatar>
                </div>
                <ion-label>
                  <h2 style="padding-left: 10px">{{item.NameArret}}</h2>
                </ion-label>
              </ion-item>
        </ion-list>
</ion-content>
