<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button id="ficheHoraireButton" (click)="ficheHoraire()" style="display: none">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
        Horaires
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <div id="listeArrets" style="display: block">
      <ion-list>
        <ion-item *ngFor="let item of arrets" (click)="showHoraire(item.parentStation.code)">
          <ion-label>
            <h3>{{item.parentStation.city}}</h3>
            <p>{{item.parentStation.name}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>  
    
    <div id="horaires" style="display: none">
      <ion-list>
          <ion-list-header>
              <ion-label><strong>{{affichageAller}}</strong></ion-label><img (click)="AddFavorites(idArrete)"  src="../../assets/img/etoile.png" style="width: 50px"/>
            </ion-list-header>
          <ion-item *ngFor="let item of horaireAller; let i" color="light">
              <ion-label>
                <h3>{{item.stopName}}</h3>
                <p>{{lectureHoraire(item.scheduledArrival,item.serviceDay)}}</p>
              </ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
          <ion-list-header>
            <ion-label><strong>{{affichageRetour}}</strong></ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of horaireRetour" color="light">
              <ion-label>
                <h3>{{item.stopName}}</h3>
                <p>{{lectureHoraire(item.scheduledArrival,item.serviceDay)}}</p>
              </ion-label>
            </ion-item>
      </ion-list>
    </div>
  </ion-content>


  